extends layout.pug

block content

  nav.nav
    a(href='/projects')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        //- Use the info in your data file and the comments below to complete this template

        //- Use interpolation to dynamically add the project title
        h1 #{projectBuild.title}

        //- Use interpolation to dynamically add the project description
        p #{projectBuild.description}

      .project-tech-links-box.box
        h6 Technologies
        ul
          each tech in projectBuild.technologies
              li= tech
                          //- Use an `each` iterator and interpolation to dynamically replace the li tags below with the technologies listed for this project


        //- Add the href values to the links below
        a.btn-link(href=`${projectBuild.liveLink}`) Live Demo
        a.btn-link(href=`${projectBuild.githubLink}`) GitHub Repo

    .project-img-box.box

      //- Replace the URLs in the src attributes below with interpolated template literals to dynamically add your project images, and add descriptions to the alt attributes
      img.project-img(src=`${projectBuild.image}`, alt='')
      //- img.project-img(src=`${}`, alt='')
      //- img.project-img(src=`${}`, alt='')

    nav.nav
      a(href='/projects')
        span &larr;
        |  Back
